.App {
  text-align: center;
  width: 100%;
  
  min-height: 100vh;
  padding-bottom: 50px;

}


.smurf-form{
  width: 75%;
  margin: 0 auto;
}

.Smurfs ul{
  margin: 0;
  padding: 0;
}

.Smurf{
  box-shadow: 0px 0px 87px -25px rgba(129,184,243,0.9);
  background-color:#FFFDF6;
  padding: 10px;
  width: 60%;
  margin: 2rem auto;
  border-radius: 3%;
  z-index: 9999;
}

h1{
  margin-top: 20px;
}

@media only screen and (max-width: 800px) {

  .Smurf{
    width: 95%;
    border-radius: none;
  }
}